{% extends 'base2.html.twig' %}

{% block title %}Terrain{% endblock %}

{% block head %}
<section id="main-content">
    <section class="wrapper">
        <!--overview start-->
        <div class="row">
            <div class="col-lg-12">
{% endblock %}
{% block showterrain %}
    <h1>Terrain</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idterrain</th>
                <td>{{ terrain.idterrain }}</td>
            </tr>
            <tr>
                <th>Nomterrain</th>
                <td>{{ terrain.nomterrain }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ terrain.adresse }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ terrain.etat }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ terrain.description }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ terrain.photo }}</td>
            </tr><br>

        </tbody>

    </table>
    <table align="center"><tr><a href="{{ path('terrain_index') }}" class="btn btn-success">Retour</a>

            <a href="{{ path('terrain_edit', {'idterrain': terrain.idterrain}) }}" class="btn btn-success">Modifier</a>

            {{ include('terrain/_delete_form.html.twig') }}</tr></table>

            </div>
        </div>
    </section>
</section>
{% endblock %}
