{% extends 'base.html.twig' %}
{% block header %}
    <!-- Start header -->
    <header class="top-navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{asset('index.html')}}">
                    <img src="{{ asset('images/logo (2).png') }}" alt="" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbars-host">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item   "><a class="nav-link" href="{{path('reservation_new')}}">Terrain</a></li>
                        <li class="nav-item dropdown" >
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown"> Match Making </a>

                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" href="{{path('equipe_front')}}">Equipe</a>
                                <a class="dropdown-item" href="{{path('demande_front')}}">Demande </a>

                            </div>
                        </li>

                        <li class="nav-item active "><a class="nav-link" href="{{path('listarticlefront')}}">Magasin</a></li>
                        <li class="nav-item dropdown" >
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Evènement </a>

                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" href="{{path('calendar_event')}}">Calendrier </a>
                                <a class="dropdown-item" href="{{path('promotion_front')}}">Liste des evenements </a>

                            </div>
                        </li>


                        <li class="nav-item"><a class="nav-link" href="{{path('app_login')}}">Se déconnecter</a></li>
                    </ul>
                    {#  <ul class="nav navbar-nav navbar-right">
                        <li><a class="hover-btn-new log" href="#" data-toggle="modal" data-target="#login"><span>Se connecter</span></a></li>
                    </ul>#}
                </div>
            </div>
        </nav>
    </header>
    <!-- End header -->
{% endblock %}
 {% block listarticle %}
     <div width="200%">
         <form method="post" id="contactForm" action="{{ path('rechercheart') }}" id="search_form_1" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
             <div class="search_item">
                 <div style='align-content: center'>

                     <div class="col-md-8 col-sm-8">
                         <table>

                             <th>

                         prix d'entrée 1 :
                         <input type="number" placeholder="Search1..." required="" name="search1">
                                 </th>
                                 <th>
                         prix d'entrée 2 :
                         <input type="number" placeholder="Search2..." required="" name="search2">
                                 </th>
                                 <th>
                         <input type="submit" value="Search"  class="btn btn-success">
                                 </th>


                         </table>
                     </div>
                 </div>
             </div>
         </form>
         {#  <form  method="post" action="{{ path('search') }}">
                        <input type="text" placeholder="Search..." required="" name="search">
                        <input type="submit" value="Search">
                       </form>#}
     </div><!--//end-search-box-->
     <br><br><br>   <br>
     <div class="row offers_items">


         {% set count = 0 %}
         <tbody id="myTable">
         {% set count = count+1 %}
         <!------------------------------Affichage des articles starts here---------------------------------------->
         {% for c in list %}
             <!-- Offers Item -->
             <div class="col-lg-6 offers_col">
                 <div class="pricing-table" style="color: #2A3542" >

                     <div class="row">
                         <div class="col-lg-6">
                             <div class="offers_image_container">
                                 <img class="card-img-top" src={{ asset('image/' ~ c.imageArticle) }}   style="height:300px;Width:300px">
                             </div>
                         </div>

                         <div class="col-lg-6">
                             <div class="offers_content">
                              <h3> <b> <div class="offers_price">  {{ c.libelle}}<span></span></div></b></h3>
                                <br>
                                 <div class="offers_price">  {{ c.categorie}}<span></span></div>

                                <h2><b> <div class="offers_price text-primary">{{ c.prix  }}<span> DT</span></div></b></h2>

                                {# <div class="form-group" action="{{ path('updatearticle',{'id_article':c.id_article}) }}" method="post">
                                     <div class="col-lg-offset-2 col-lg-10">
                                         <div class="rateyo" id= "rating"
                                              data-rateyo-rating="4"
                                              data-rateyo-num-stars="5"
                                              data-rateyo-score="3">
                                         </div>


                                         <span class='result'>0</span>
                                         <input type="hidden" name="rating">
                                     </div>

                                 </div>
                                 <button type="submit" ><a href="{{ path("updateRate",{'id_article':c.id_article}) }}"></a>
                                     Note
                                 </button> #}
                                 <form action="{{ path("updateRate",{'id_article':c.id_article}) }}" method="post">
                                     <div class="col-lg-offset-2 col-lg-10">




                                     <div class="rateyo" id= "rating"
                                          data-rateyo-rating="4"
                                          data-rateyo-num-stars="5"
                                          data-rateyo-score="3">
                                     </div>

                                     <span class='result'>0</span>
                                     <input type="hidden" name="rating">

                             </div>

                             <div><input type="submit" name="add"> </div>


                             </form>
                                 <p class="offers_text"></p>



                                  <div class="price-value">  <a href="{{ path("show",{'id_article':c.id_article}) }}" class="btn btn-primary" >En savoir plus</a></div>

                                 {% set count = count+1 %}

                             </div>
                         </div>
                     </div>
                 </div><br><br>
             </div>

         {% endfor %}
         <div class="navigation" style="margin-left:2%">
             {{ knp_pagination_render(list) }}
         </div>
         </tbody>
         <!--------------------------------Affichage des plats ends here---------------------------------------->

</div>
 {% endblock %}
