{% extends 'base2.html.twig' %}
 {% block head %}


<!--main content start-->

<section id="main-content">
    <section class="wrapper">
        <!--overview start-->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="icon_bag_alt"></i> Gestion Article</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                    <li><i class="fa fa-shopping-bag"></i>Article</li>
                </ol>
            </div>
        </div>
        {% endblock %}
{% block formullist %}
<!-- Today status end -->



<div class="row">

    <div class="search-box"  style="width: 50%">

        <form  method="post" action="{{ path('search') }}">

            <input class="form-control"  type="text" placeholder="Search..." required="" name="search">
            <button class="btn btn-outline-primary" type="submit"><a href="{{ path("addArticle") }}" style="atsc-nav-left: "> Ajouter un article </a></button>
            <table><tr>
                    <td>
                        <form  action="{{ path('list') }}">
                            <button>
                                <i class="icon_refresh"></i>

                            </button>
                        </form>
                        <div class="clearfix"> </div>

                    </td>
                    <td>
                        <form  action="{{ path('triart') }}">
                            <button>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-sort-down-alt" viewBox="0 0 16 16" >
                                    <path d="M3.5 3.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 12.293V3.5zm4 .5a.5.5 0 0 1 0-1h1a.5.5 0 0 1 0 1h-1zm0 3a.5.5 0 0 1 0-1h3a.5.5 0 0 1 0 1h-3zm0 3a.5.5 0 0 1 0-1h5a.5.5 0 0 1 0 1h-5zM7 12.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5z"/>
                                </svg>
                            </button>
                        </form>
                        <div class="clearfix"> </div>

                    </td>
                    <td>
                        <form  action="{{ path('statistiques') }} ">
                            <button >
                                <i class="icon-charts-l" ></i>

                            </button>
                        </form>
                        <div class="clearfix"> </div>

                    </td>
                </tr>
            </table>

        </form>
    </div><!--//end-search-box-->

    <div class="col-lg-9 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><i class="fa fa-shopping-bag"></i><strong>Article</strong></h2>
              <div class="panel-actions" style="outline-color: #89bbd8">

              </div>

            </div>

            <div class="panel-body">

                <table class="table bootstrap-datatable countries">
                    <thead>
                    <tr>
                        <th>imageArticle</th>
                        <th>ref</th>
                        <th>libelle</th>
                        <th>Catégorie</th>
                        <th>qtarticle</th>
                        <th>prix</th>
                        <th>Rate</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr {% for c in list %}>
                        <td><img src={{ asset('image/' ~ c.imageArticle) }} style="height:100px; margin-top:100px;" ></td>
                        <td>{{ c.ref}}</td>
                        <td>{{ c.libelle }}</td>
                        <td>{{ c.idcat}} </td>
                        <td>{{ c.qtarticle}} </td>
                        <td>{{ c.prix }}</td>
                        <td>{{ c.rate }}</td>


                        <td>
                            <li>
                                <a class="" href="{{ path("deletearticle",{'id_article':c.id_article}) }}">
                                    <i class="icon_minus-06"style="height:100px; margin-top:100px;"></i>


                                </a>

                            </li>

                        </td>
                        <td>
                            <li>
                                <a  class="" href="{{ path("updatearticle",{'id_article':c.id_article}) }}">
                                    <i class="icon_pencil-edit"style="height:100px; margin-top:100px;"></i>


                                </a>

                            </li>

                        </td>

                    </tr {% endfor %}>
                    <div>
                        <a href="{{ path('listpdf') }}">Imprimer</a>
                    </div>
                    <div class="navigation">
                        {{ knp_pagination_render(list) }}
                    </div>

                    </tbody>
                </table>
            </div>

        </div>

    </div>





    <html>


    <head></head>
    <body>

{% endblock formullist %}